<!DOCTYPE html>
<html>
  <head>
    <title>Photos100px</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
    <!--  if current user you give the option to log out -->
           <ul class="nav navbar-nav pull-right">
             <li id="user-name">Welcome, <%=  current_user.name %>!</li> <br>
             <li id="log-out"><%= link_to 'Log Out', logout_path, method: :delete %></li>
           </ul>
         <% else %>
           <ul class="nav navbar-nav">
             <li id="log-in-sign">Please log in to like a photo!</li>
             <!-- <li id="log-in"> -->
               <%= link_to 'Log in', '/auth/500px', id: "log-in" %>
             <!-- </li> -->
           </ul>
         <% end %>

    <%= yield %>
  </body>
</html>
