<!DOCTYPE html>
<html>
  <head>
    <title>Photos100px</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
    <!--  if current user you give the option to log out -->
           <ul class="nav-bar-log-out">
             <li id="user-name">Welcome, <%=  current_user.name %>!</li> <br>
             <%= link_to 'Log Out', logout_path, method: :delete, id:"log-out" %>
             <%= link_to'Popular', '/', id: "popular" %>
             <%= link_to'Editors', '/editors', id: "editors" %>
             <%= link_to'Upcoming', '/upcoming', id:"upcoming" %>
             <%= link_to'Fresh', '/fresh', id: "fresh" %>
           </ul>
         <% else %>
           <ul class="nav-bar-log-in">
             <li id="log-in-sign">Please log in to like a photo!</li>
               <%= link_to 'Log in', '/auth/500px', id: "log-in" %>
               <%= link_to'Popular', '/', id: "popular" %>
               <%= link_to'Editors', '/editors', id: "editors" %>
               <%= link_to'Upcoming', '/upcoming', id:"upcoming" %>
               <%= link_to'Fresh', '/fresh', id: "fresh" %>
           </ul>
         <% end %>

    <%= yield %>
  </body>
</html>
